.fp-slideshow
{
    
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box; /* check todo */
    display: flex;
}


.fp-slideshow > figure > img
{
    width: 100% !important;
    vertical-align: middle;
    border-style: none;
}




.fp-slideshow > figure
{
    position:relative;
    display:none;
    align-items: center;
    width: 100%;
    transform: scale(1) ;
    opacity: 0.5;
    transition: all 2s linear 0.1s;
    
}



.fp-slideshow > figure.active
{
    display: block !important;
    transform: scale(1.5) ;
    opacity: 1;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_transitions/Using_CSS_transitions */
/* without this the effect will not show on first time element gets display: block */
@starting-style {
    .fp-slideshow > figure.active
    {
        transform: scale(1) ;
        opacity: 0.5;
        
    }
}

